.background,
.foreground {
  font-family: 'braille', monospace;
  line-height: 1em;
  margin: 0;
  grid-row: 1/-1;
  grid-column: 1/-1;
}

.foreground {
  color: #f23;
}
.background {
  color: #f231;
}

.root {
  cursor: default;
  user-select: none;
  background: #f231;
  display: grid;
  overflow: hidden;
  place-items: center;
}

@font-face {
  font-family: 'braille';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(iosevka.subset.ttf) format('truetype');
  unicode-range: U+2800-28FF;
}
